<link rel="stylesheet" href="/css/styles.css" />
<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>

    <main class="carrito">
      <div class="container-carrito">
        <div class="card-compra">
          <div class="card-description">
            <img src="images/remera.jpg" alt="compra1" />
            <p class="precio">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="description">Precio</p>
          </div>
          <div class="card-action">
            <div class="fields">
              <div class="options">
                <span class="text">Quantity:</span>
                <input type="number" id="quantity" name="quantity" min="1" max="5">
              </div>
            </div>
            <button class="cartIcons">
              <i class="fas fa-trash-alt"></i>
            </button> 
          </div>
        </div>
       
      </div>
    </main>

    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
