<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>

    <main class="carrito">
      <div class="container-carrito">
        <div class="card-compra">
          <div class="card-description">
            <img src="images/remera.jpg" alt="compra1" />
            <p class="precio">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="description">Precio</p>
          </div>
          <div class="card-action">
            <i class="fa-solid fa-trash-can"></i>
            <i class="fa-solid fa-plus"></i>
            cantidad
            <i class="fa-solid fa-minus"></i>
          </div>
        </div>
        <div class="card-compra">
          <div class="card-description">
            <img src="images/remera.jpg" alt="compra1" />
            <p class="precio">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p class="description">Precio</p>
          </div>
          <div class="card-action">
            <i class="fad fa-trash-alt"></i>
            <i class="far fa-plus-circle"></i>
            cantidad
            <i class="far fa-minus-circle"></i>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
