<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>
    <div>
    <a href="/products/create">  <button class="submit" type="submit">Agregar nuevo producto</button></a>
    </div>
    <div>
      <button class="submit" type="submit">Enviar</button>
    </div>
    <div>
      <button class="submit" type="submit">Enviar</button>
    </div>


    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
