<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HALLEN INDUMENTARIA</title>

    <!-- FUENTES -->
    <!-- RATIONALE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rationale&display=swap"
      rel="stylesheet"
    />

    <!-- QUICKSAND -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />

    <!-- ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- ICONS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>
    <main class="product-main">
      <section class="primera-info">
        <!-- <div class="img"> -->
        <img src="images/remera.jpg" alt="imagen producto" />
        <!-- </div> -->
        <div class="info">
          <h4 class="titlle">Producto 1</h4>
          <h4 class="titlle">$0000</h4>

          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <form method="get">
            <div class="form1">
              <label for="colors">Seleccione un color</label>
              <select name="colors" id="colors">
                <option value="#ff0000">Rojo</option>
                <option value="black">Negro</option>
                <option value="white">Blanco</option>
                <option value="grey">Gris</option>
              </select>
            </div>
            <div class="form2">
              <label for="sizes">Seleccione un talle</label>
              <select name="sizes" id="sizes">
                <option value="XL">XL</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="S">S</option>
                <option value="XS">XS</option>
              </select>
            </div>
          </form>
          <div class="buttons">
            <button>Comprar</button>
            <a href="/carrito"><button>Agregar al carrito</button></a>
          </div>
        </div>
      </section>
      <section class="description-product">
        <h3>Descripcion</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          voluptatem iusto a voluptates sint veritatis reprehenderit deserunt
          soluta, quo sed culpa laudantium officia sapiente delectus ab quisquam
          harum cum dolorum? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Totam non ad, animi accusamus commodi, laborum fugit mollitia
          quos adipisci aliquid, vitae similique porro nihil voluptatibus
          corporis placeat! Accusamus, perspiciatis est. Lorem, ipsum dolor sit
          amet consectetur adipisicing elit. Dolor optio fugiat a facere, magni
          impedit et provident exercitationem eveniet dolorem ipsam voluptatum
          quia laboriosam explicabo vero velit esse fuga odio. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Est placeat consectetur
          sapiente. Vero quos, officiis sit eveniet molestiae dolorum eaque iure
          necessitatibus eius, voluptas aliquid eligendi delectus blanditiis
          omnis expedita?
        </p>
      </section>
    </main>
    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
