<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HALLEN INDUMENTARIA</title>

    <!-- FUENTES -->
    <!-- RATIONALE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rationale&display=swap"
      rel="stylesheet"
    />

    <!-- QUICKSAND -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />

    <!-- ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- ICONS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="container-header">
      <div class="top-header">
        <div class="logo">
          <img src="images\Logo.png" alt="logo-hallen" />
        </div>
        <div class="search">
          <form action="#" method="get">
            <div class="input">Buscar productos...</div>
            <div class="submit"><i class="fa fa-search"></i></div>
          </form>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Ingresar</button>
          <div class="dropdown-content">
            <a href="/login">Log In</a>
            <a href="/login">Sing in</a>
          </div>
        </div>
      </div>
      <div class="navbar">
        <a href="/">HOME</a>
        <a href="/aboutus">ABOUT US</a>
        <a href="/products">PRODUCTS</a>
        <a href="/contact">CONTACT</a>
      </div>
    </header>
    <footer>
      <div class="card-footer">
        <ul class="group-members">
          <li>Grupo:</li>
          <li>Agustina Cortez Marino</li>
          <li>Daniel Portugal Nahum</li>
          <li>Guillermo Andres Bazán</li>
          <li>Natán Mendieta</li>
        </ul>
      </div>

      <form action="action_page.php">
        <div class="newsletter-container">
          <h2>Subscribe to our Newsletter</h2>
        </div>

        <div class="newsletter-container">
          <input type="text" placeholder="Nombre" name="name" required />
          <input type="text" placeholder="Dirección de correo" name="mail" required />
          <label>
            <input type="checkbox" checked="checked" name="subscribe" /> Daily
            Newsletter
          </label>
        </div>

        <div class="newsletter-container">
          <input type="submit" value="Subscribe" />
        </div>
      </form>

      <div class="card-footer">
        <ul class="group-members">
          <li>Grupo:</li>
          <li>Agustina Cortez Marino</li>
          <li>Daniel Portugal Nahum</li>
          <li>Guillermo Andres Bazán</li>
          <li>Natán Mendieta</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
