<header class="container-header">
  <div class="top-header">
    <div class="logo">
      <img src="/images/Logo.png" alt="logo-hallen" />
    </div>
    <div class="search">
      <form action="#" method="get">
        <div class="input">Buscar productos...</div>
        <div class="submit"><i class="fa fa-search"></i></div>
      </form>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Ingresar</button>
      <div class="dropdown-content">
        <a href="/login">Log In</a>
        <a href="/login">Sing in</a>
      </div>
    </div>
  </div>
  <div class="navbar">
    <a href="/products">HOME</a>
    <a href="/aboutus">ABOUT US</a>
    <a href="/products/categories">PRODUCTS</a>
    <a href="/contact">CONTACT</a>
  </div>
</header>
