<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>
    <main>
      <div class="aboutTittle">
        <h2>Nuestra historia</h2>
      </div>
<div  class="aboutDescription">
  <p>Todo comenzo como un pequeño emprendimiento 
    entre 4 amigos para salir adelante en pandemia...<br> nunca imaginamos 
    el alcance que tendría.
    <br>
    Hoy en dia estamos en el top 10 de los mejores sitios web de
    venta de ropa en el país,<br> con mas de 100.000 ventas por mes y entregas
    en tiempos records de menos de 72 horas a toda Argentina.
  </p>

</div>

    
    </main>
    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
